---
import type { Tables } from "../../supabase/types.ts";

interface Props {
  framework: Tables<"frameworks">;
}

const { framework } = Astro.props;
---

<div class="rounded-lg shadow-md p-4 flex flex-col items-center text-center" style="background-color: var(--color-card-bg);">
  <h2 class="text-2xl font-bold mb-2">{framework.name}</h2>
  <img
    src={`/.netlify/images?url=/images/${framework.logo}`}
    class="w-48 h-48 object-cover rounded-md mb-4"
    alt={framework.name}
  />
  <p class="text-lg mb-4">{framework.likes} like{framework.likes === 1 ? "" : "s"}</p>
  <a href={`/frameworks/${framework.id}`} class="underline text-green-400 hover:text-green-500">More &rarr;</a>
</div>
